<manifest
    package="com.anupcowkur.piwiksdk"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <service android:name="com.anupcowkur.piwiksdk.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
    </application>

    <provider
        android:authorities="com.anupcowkur.piwiksdk.provider.piwikdbitems"
        android:export="false"
        android:name=".PiwikContentProvider"
        android:syncable="true" />

</manifest>
